body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#7f53ac,#657ced);
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

input {
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #7f53ac;
}