body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#ffc0cb,#ffd1dc);
    font-weight: bold;
}

.container {
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 50px 10px;
    display: grid;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

input {
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ff1493;
    color: white;
    border: none;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #ff69b4;
}